<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2022 Martin Scheiber and Christoph Boehm, and others,
  Control of Networked Systems, University of Klagenfurt, Austria.

  All rights reserved.

  This software is licensed under the terms of the BSD-2-Clause-License with
  no commercial use allowed, the full terms of which are made available
  in the LICENSE file. No license in patents is granted.

  You can contact the author at <martin.scheiber@ieee.org> and
  <alessandro.fornasier@ieee.org>.
-->
<launch>
    <arg name="node_name"           default="watchdog" />

    <arg name="action_i"            default="$(arg node_name)/feeeeee" />
    <arg name="status_o"            default="$(arg node_name)/status" />
    <arg name="log_o"               default="$(arg node_name)/log" />
    <arg name="start_service_o"     default="$(arg node_name)/start" />

    <arg name="entity_check_rate"   default="2.0" />

    <!-- config files -->
    <arg name="topics_cfg_file"     default="$(find watchdog_bringup)/config/topics.yaml"/>
    <arg name="drivers_cfg_file"    default="$(find watchdog_bringup)/config/drivers.yaml"/>
    <arg name="nodes_cfg_file"      default="$(find watchdog_bringup)/config/nodes.yaml"/>

    <arg name="do_verbose"          default="False" />

    <node pkg="ros_watchdog" type="WatchdogNode.py" name="watchdog" output="screen">
        <param name="topics_cfg_file"   value="$(arg topics_cfg_file)"/>
        <param name="drivers_cfg_file"  value="$(arg drivers_cfg_file)"/>
        <param name="nodes_cfg_file"    value="$(arg nodes_cfg_file)"/>

        <param name="entity_check_rate" value="$(arg entity_check_rate)"/>
        <param name="bVerbose"          value="$(arg do_verbose)"/>

        <remap from="/$(arg node_name)/action"          to="$(arg action_i)"/>
        <remap from="/$(arg node_name)/status"          to="$(arg status_o)"/>
        <remap from="/$(arg node_name)/log"             to="$(arg log_o)"/>
        <remap from="/$(arg node_name)/service/start"   to="$(arg start_service_o)"/>
    </node>
</launch>
